@charset "utf-8";
/*---CSS Document---*/

@import url("css/reset.css");

@font-face {
    font-family: 'CygnetRoundRegular';
    src: url('http://www.bigonioncaterer.com.my/font/cygnetround-webfont.eot');
    src: url('http://www.bigonioncaterer.com.my/font/cygnetround-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.bigonioncaterer.com.my/font/cygnetround-webfont.woff') format('woff'),
         url('http://www.bigonioncaterer.com.my/font/cygnetround-webfont.ttf') format('truetype'),
         url('http://www.bigonioncaterer.com.my/font/cygnetround-webfont.svg#CygnetRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
  
@font-face {
    font-family: 'TypoSlabserif-LightRegular';
    src: url('http://www.bigonioncaterer.com.my/font/typoslabserif-light-webfont.eot');
    src: url('http://www.bigonioncaterer.com.my/font/typoslabserif-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.bigonioncaterer.com.my/font/typoslabserif-light-webfont.woff') format('woff'),
         url('http://www.bigonioncaterer.com.my/font/typoslabserif-light-webfont.ttf') format('truetype'),
         url('http://www.bigonioncaterer.com.my/font/typoslabserif-light-webfont.svg#TypoSlabserif-LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*---Overall---*/

html {
background:url("../images/background.jpg") repeat; 
}

body {
margin:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:normal;
color:#454545;
line-height:30px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
/*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

h1 {
font-family:'CygnetRoundRegular', Times News Roman, serif;
font-size:30px;
font-weight:normal;
color:#1e1e1e;
line-height:30px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

h2 {
font-family:'TypoSlabserif-LightRegular', Helvetica, sans-serif;
font-size:19px;
font-weight:normal;
color:#1e1e1e;
line-height:30px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
}

h3 {
font-family:'CygnetRoundRegular', Times News Roman, serif;
font-size:24px;
font-weight:normal;
color:#3b3b3b;
line-height:30px;
font-smooth:always;
-webkit-font-smoothing:antialiased;
text-shadow:0 1px 1px rgba(0,0,0,.8);
}

/*---Content---*/

.wrapper{
width:900px; 
margin:0 auto; 
min-height:100%;
}

.content{
background-color:#ffffff;
width:900px;
height:100%;
margin:0px;
padding:0px;
}

.header{
background:url("../images/header_bar.png") no-repeat;
}

.nav_bar{
background:url("../images/nav_bar_background.png") repeat-x;
}

.action{
background:url("../images/action_banner.png") no-repeat;
background-position:center; 
cursor: pointer; /* hand-shaped cursor */
cursor: hand;
width:311px;
height:93px;
}

.action:hover{
background:url("../images/action_banner_hover.png") no-repeat;
background-position:center; 
cursor: pointer; /* hand-shaped cursor */
cursor: hand; 
width:311px;
height:93px;
}

.action2{
background:url("../images/action_banner2.png") no-repeat;
background-position:center; 
cursor: pointer; /* hand-shaped cursor */
width:311px;
height:93px;
}

.action2:hover{
background:url("../images/action_banner2_hover.png") no-repeat;
background-position:center; 
cursor: pointer; /* hand-shaped cursor */
cursor: hand; 
width:311px;
height:93px;
}

.customer_table {
width:750px;
height:auto;
}

.customer_table tr td {
width:auto;
height:150px;
text-align:center;
}
	

/*---Navigation Menu---*/

#maincurrent{
text-decoration:none;
color:#e96262;
width:auto;
height:40px;
display:block;
font-size:19px;
}

.mainmenu{
border:none;
margin:0px;
font-family:'TypoSlabserif-LightRegular', Helvetica, sans-serif;
font-weight:normal;
font-size:19px;
height:40px;
width:auto;
float:left;
padding-left:12px;
display:block;
text-align:center;
}

	.mainmenu ul{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
	}
		
		.mainmenu li{
		float:right;
		width:auto;
		height:40px;
		padding:18px 33px 0px 33px;
		text-align:center;
		display:block;
		}
		
		.mainmenu li a{
		background:url(../images/nav_button_lite.png) no-repeat;
		font-weight:normal;
		margin:none;
		width:auto;
		height:40px;
		text-decoration:none;
		line-height:20px;
		font-size:19px;
		color:#ffffff;
		font-smooth:always;
		-webkit-font-smoothing: antialiased;
		text-shadow:0 1px 1px rgba(0,0,0,.8);
		display:block;
		}
	
		.mainmenu li a:hover, .mainmenu ul li:hover a{
		width:auto;
		height:40px;
		text-decoration:none;
		display:block;
		color:#e96262;
		}
		
			.mainmenu li ul{
			display:none;
			height:auto;
			margin:0px;
			border:0px;
			padding:10px 0px 5px 15px;
			position:absolute;
			width:150px;
			z-index:200;
			background:#000000 left;
			opacity:0.8;
			/*top:1em;
			left:0;*/
			}
	
			.mainmenu li:hover ul{
			display:block;
			
			}
			
				.mainmenu li li {
				display:block;
				float:none;
				height:30px;
				color:#ffffff;
				text-align:left;
				padding:0px;
				}

				.mainmenu li:hover li a{
				background:none;
				}
	
					.mainmenu li ul a{
					display:block;
					font-size:18px;
					font-style:normal;
					margin:0px;
					color:#e96262;
					}
					
					.mainmenu li ul a:hover, .mainmenu li ul li:hover a{
					border:0px;
					color:#ffffff;
					text-decoration:none;
					}
					
.mainmenu p{
clear:left;
}


/*---Footer---*/
	
#footer_menu{
padding:10px 0px 10px 25px;
height:40px;
width:800px;
vertical-align:middle;
}
	
	#footer_menu ul{
	margin: 0;
	padding: 0px;
	list-style-type: none;
	position:relative;
	z-index:90;
	}
	
		#footer_menu ul li {
		float:left;
		display:inline-block;
		padding:0px 20px 0px 20px;
		font-size:11px;
		}
	
		#footer_menu ul li a{
		color:#525252;
		text-decoration:none;
		}
	
		#footer_menu ul li a:hover{
		color:#ffffff;
		text-decoration:none;
		}	
		
			#footer_menu li ul{
			display:none;
			height:auto;
			padding-top:0px;
			margin:0px;
			border:0px;
			position:absolute;
			z-index:200;
			}
			
			/*#footer_menu li:hover ul{
				display:block;
			}
	
				#footer_menu li:hover li a{
				background:none;
				margin:0px;
				}	
	
					#footer_menu li ul a{
					float:left;
					margin:0px;
					}
		
						#footer_menu li ul a:hover, .mainmenu li ul li:hover a{
						border:0px;
						color:#ffffff;
						text-decoration:none;
						}*/

/* Social Icon */
.social_1 { 
  width: 172px;
  height: 39px;
  margin: 0;
  padding: 0px 0px 0px 40px;
  border: 0;
  background: transparent url('../images/facebook_btn.png') no-repeat right top;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
  position:absolute;
}

.social_1:hover { 
  width: 172px;
  height: 39px;
  margin: 0;
  padding: 0px 0px 0px 40px;
  border: 0;
  background: transparent url('../images/facebook_btn_hover.png') no-repeat right top;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:block;
  position:absolute;
}

.submit_btn {
  width: 200px;
  height: 60px;
  margin: 0;
  padding: 0px 10px 5px 0px;
  vertical-align:top;
  border: 0;
  background:url('../images/submit_btn.png') no-repeat right top;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  position:relative;
  font-family:'CygnetRoundRegular', Times News Roman, serif;
  font-size:16px;
  color:#fff;
}

.submit_btn:hover {
  width: 200px;
  height: 60px;
  margin: 0;
  padding: 0px 10px 5px 0px;
  vertical-align:top;
  border: 0;
  background: url('../images/submit_btn_hover.png') no-repeat right top;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  position:relative;
  font-family:'CygnetRoundRegular', Times News Roman, serif;
  font-size:16px;
  color:#fff;
}

